# Anomaly detection
## Problem statement: 
Determine whether there are anomilies in  the sales dataset and identify the anomalies for a super market.
## Metric of success:
To successfully point out anomilies if they do exist
## Data relevance
The relevance of the data will depend on sufficiency of data to determine anomalies in the supermarket sales dataset.
## Data souce:
our data set is stored in a csv file that contains sales for the supermarket
## Experimental design

In [1]:
# Load tidyverse and anomalize
library(tidyverse)
library(anomalize)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
v ggplot2 3.3.0     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.4
v tidyr   1.0.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
Warning message:
"package 'ggplot2' was built under R version 3.6.2"Warning message:
"package 'tibble' was built under R version 3.6.2"Warning message:
"package 'tidyr' was built under R version 3.6.2"Warning message:
"package 'readr' was built under R version 3.6.2"Warning message:
"package 'purrr' was built under R version 3.6.2"Warning message:
"package 'dplyr' was built under R version 3.6.2"Warning message:
"package 'stringr' was built under R version 3.6.2"Warning message:
"package 'forcats' was built under R version 3.6.2"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Warning message:
"package 'anomalize' was built under R version 3.6.3"== Use anomalize to improve your Forecasts by 50%! =============================
Business Science offers a 1-hour course - Lab #18: Time Series Anomaly Detection!
</> Learn more at: https://university.business-science.io/p/learning-labs-pro </>

In [46]:
#Loading and previewing the dataset
sales <- read.csv('Supermarket_Sales_Forecasting - Sales.csv')
#Previewing
head(sales)

  Date      Sales
1 1/5/2019  548.9715
2 3/8/2019   80.2200
3 3/3/2019  340.5255
4 1/27/2019 489.0480
5 2/8/2019  634.3785
6 3/25/2019 627.6165

In [47]:
str(sales)

'data.frame':	1000 obs. of  2 variables:
 $ Date : Factor w/ 89 levels "1/1/2019","1/10/2019",..: 27 88 82 20 58 77 49 48 2 44 ...
 $ Sales: num  549 80.2 340.5 489 634.4 ...

ERROR: Error in value[[3L]](cond): Error in prep_tbl_time(): No date or datetime column found.

In [48]:
 library(xts)
  sales$Date <- xts(sales[,-1], order.by=as.Date(sales[,1], "%m/%d/%Y"))

In [49]:
str(sales)

'data.frame':	1000 obs. of  2 variables:
 $ Date :An 'xts' object on 2019-01-01/2019-03-30 containing:
  Data: num [1:1000, 1] 457 400 471 388 133 ...
  Indexed by objects of class: [Date] TZ: UTC
  xts Attributes:
 NULL
 $ Sales: num  549 80.2 340.5 489 634.4 ...

In [66]:
library(dplyr)
library(tibbletime)
prep_tbl_time(sales, message = FALSE)

ERROR: Error in value[[3L]](cond): Error in prep_tbl_time(): No date or datetime column found.

In [67]:
# Convert iris data to a tibble
sales <- as_tibble(sales)
class(sales)

[1] "tbl_df"     "tbl"        "data.frame"

In [68]:
sales %>%
    time_decompose(count,method='stl') %>%
    anomalize(remainder) %>%
    time_recompose() %>%
    plot_anomalies(time_recomposed = TRUE, ncol = 3, alpha_dots = 0.5)

ERROR: Error in value[[3L]](cond): Error in prep_tbl_time(): No date or datetime column found.

In [69]:
sales %>% 
time_decompose(count, method = "stl") %>% 
anomalize(remainder) %>% 
time_recompose() %>% 
plot_anomalies(time_recomposed = TRUE, ncol = 3, alpha_dots = 0.5)

ERROR: Error in value[[3L]](cond): Error in prep_tbl_time(): No date or datetime column found.

In [70]:
sales %>% group_by(Date) %>%
    time_decompose(count,method='stl')%>%
    anomalize(remainder,method = 'iqr') %>%
    time_recompose()%>% plot_anomalies(time_recomposed = T,ncol=5,alpha_dots = 0.25)

ERROR: Error in value[[3L]](cond): Error in prep_tbl_time(): No date or datetime column found.

In [71]:
library(dplyr)
library(tibbletime)

data_tbl <- tibble(
    date  = seq.Date(from = as.Date(sales$Date), by = "day"))

prep_tbl_time(data_tbl)

ERROR: Error in as.Date.default(x, ...): do not know how to convert 'x' to class "Date"

help: https://rdrr.io/r/base/as.Date.html